In [1]:
import pandas as pd
import numpy as np
import csv

In [2]:
state_df = pd.read_csv('stateData.csv')

,Unnamed: 0,pop,deaths,edu,employ,MME,strat,income,religion,HIV,depression
0,AL,4863300.0,7.5,24.5,5.8,1037.824230,5,46257,0.77,13.5,5
1,AK,741894.0,12.5,29.0,6.9,757.650696,4,76440,0.45,3.9,3
2,AZ,6931071.0,11.4,28.4,5.4,849.237172,4,53558,0.53,10.9,3
3,AR,2988248.0,5.9,22.0,4.0,922.833575,5,44334,0.70,9.7,5
4,CA,39250017.0,4.9,32.6,5.5,462.578769,1,67739,0.49,11.4,4