In [0]:
import numpy as np
import pandas as pd
from sklearn.metrics import mean_squared_error

In [0]:
data_2016 = pd.read_csv("2016-revised-changed.csv", usecols = [1, 2, 3, 4, 5, 6, 7, 8])

In [199]:
data_2016.index = ['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY']
data_2016.head()

         pop  depression   edu  employ  strat  income  religion  deaths
AL   4863300           5  24.5     5.8      5   46257      0.77     7.5
AK    741894           3  29.0     6.9      4   76440      0.45    12.5
AZ   6931071           3  28.4     5.4      4   53558      0.53    11.4
AR   2988248           5  22.0     4.0      5   44334      0.70     5.9
CA  39250017           4  32.6     5.5      1   67739      0.49     4.9

In [0]:
D = {'' : ['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY'], 'deaths' : np.zeros(50)}
predicted_2016 = pd.DataFrame(data =D)

In [201]:
predicted_2016

        deaths
0   AL     0.0
1   AK     0.0
2   AZ     0.0
3   AR     0.0
4   CA     0.0
5   CO     0.0
6   CT     0.0
7   DE     0.0
8   FL     0.0
9   GA     0.0
10  HI     0.0
11  ID     0.0
12  IL     0.0
13  IN     0.0
14  IA     0.0
15  KS     0.0
16  KY     0.0
17  LA     0.0
18  ME     0.0
19  MD     0.0
20  MA     0.0
21  MI     0.0
22  MN     0.0
23  MS     0.0
24  MO     0.0
25  MT     0.0
26  NE     0.0
27  NV     0.0
28  NH     0.0
29  NJ     0.0
30  NM     0.0
31  NY     0.0
32  NC     0.0
33  ND     0.0
34  OH     0.0
35  OK     0.0
36  OR     0.0
37  PA     0.0
38  RI     0.0
39  SC     0.0
40  SD     0.0
41  TN     0.0
42  TX     0.0
43  UT     0.0
44  VT     0.0
45  VA     0.0
46  WA     0.0
47  WV     0.0
48  WI     0.0
49  WY     0.0

In [0]:
from sklearn.ensemble import RandomForestRegressor

In [203]:
for i in range(50):
  rf = RandomForestRegressor(n_estimators=100)
  X_train = data_2016.iloc[:i, :7]
  X_train_2 = data_2016.iloc[i+1:, :7]
  X_train = X_train.append(X_train_2)
  y_train = data_2016.iloc[:i, 7]
  y_train_2 = data_2016.iloc[i+1:, 7]
  y_train = y_train.append(y_train_2)
  rf.fit(X_train, y_train)
  X_test = data_2016.iloc[i, :7]
  X_test = X_test.ravel()
  X_test = X_test.reshape(1, -1)
  y_test = rf.predict(X_test)
  predicted_2016.set_value(i, 'deaths', y_test[0])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [204]:
predictions = predicted_2016.iloc[:, 1]
predictions = predictions.ravel()
predictions.reshape(1, -1)

array([[13.156, 17.44 , 13.782, 13.966, 12.953, 17.823, 15.383, 10.092,
        17.781, 15.799, 10.777,  7.254, 14.808, 19.174,  9.755,  9.37 ,
        11.778, 11.681, 12.493, 13.494, 24.516, 17.627, 16.723, 24.055,
        15.071, 10.38 ,  6.432, 10.226, 19.529, 20.82 , 11.566, 11.635,
        15.786,  6.433, 15.468, 13.798, 14.943, 13.852, 10.434, 15.204,
         6.021, 12.904, 15.682,  8.702, 24.431, 14.267, 15.359, 10.574,
         8.044, 14.146]])

In [205]:
data = data_2016.iloc[:, 7]
data = data.ravel()
data.reshape(1, -1)

array([[ 7.5, 12.5, 11.4,  5.9,  4.9,  9.5, 24.5, 16.9, 14.4,  8.8,  5.2,
         7.4, 15.3, 12.6,  6.2,  5.1, 23.6,  7.7, 25.2, 29.7, 29.7, 18.5,
         7.4,  6.2, 15.9,  4.2,  2.4, 13.3, 35.8, 16. , 17.5, 15.1, 15.4,
         7.6, 32.9, 11.6,  7.6, 18.5, 26.7, 13.1,  5. , 18.1,  4.9, 16.4,
        18.4, 13.5,  9.4, 43.4, 15.8,  8.7]])

In [206]:
print(predicted_2016)

        deaths
0   AL  13.156
1   AK  17.440
2   AZ  13.782
3   AR  13.966
4   CA  12.953
5   CO  17.823
6   CT  15.383
7   DE  10.092
8   FL  17.781
9   GA  15.799
10  HI  10.777
11  ID   7.254
12  IL  14.808
13  IN  19.174
14  IA   9.755
15  KS   9.370
16  KY  11.778
17  LA  11.681
18  ME  12.493
19  MD  13.494
20  MA  24.516
21  MI  17.627
22  MN  16.723
23  MS  24.055
24  MO  15.071
25  MT  10.380
26  NE   6.432
27  NV  10.226
28  NH  19.529
29  NJ  20.820
30  NM  11.566
31  NY  11.635
32  NC  15.786
33  ND   6.433
34  OH  15.468
35  OK  13.798
36  OR  14.943
37  PA  13.852
38  RI  10.434
39  SC  15.204
40  SD   6.021
41  TN  12.904
42  TX  15.682
43  UT   8.702
44  VT  24.431
45  VA  14.267
46  WA  15.359
47  WV  10.574
48  WI   8.044
49  WY  14.146

In [207]:
mean_squared_error(data, predictions)

81.35146185999999

In [208]:
mean_squared_error(data, predictions, squared=False)

9.019504524085566